.about-box-item {
    display: inline-block;
    color: black;
    font-size: 12px;
    margin: 1px;
    padding: 5px;
    border: 3px solid #8781a4;
    border-radius: 15px;
    background-color: #FAF3FA;
    text-align: left;
}